<ion-header [translucent]="true">
	<ion-toolbar>
	  <ion-title>
		ESP Connect
	  </ion-title>
	</ion-toolbar>
  </ion-header>
  
  <ion-content>    
	
	<ion-content [fullscreen]="true">
	<ion-card>  
	  	<ion-item class="ion-activated" button (click)="initBLE()">
		  <ion-icon name="bluetooth" slot="start"></ion-icon>      
		  <ion-list slot="start">        
			<ion-item>
			  <ion-label>Device</ion-label>
			  <ion-badge  slot="end">{{myAPI.bleDevice?.name}}</ion-badge>
			</ion-item>  
			<ion-item>
			  <ion-label>Battery</ion-label>
			  <ion-badge  slot="end">{{myAPI.payload.measurement?.bat_voltage}}</ion-badge>
			  <ion-badge  slot="end">{{myAPI.batteryChargeCurrent}}</ion-badge>
			  <ion-badge  slot="end">{{myAPI.sunAzimuth | number:'1.2-2' }}</ion-badge>			  
			</ion-item>        
		  </ion-list> 
		</ion-item>  	  
	</ion-card>

	<ion-card>		
		<ion-card-header>		  
		  <ion-card-title>Payload</ion-card-title>
		</ion-card-header>
		<ion-card-content>
			<ngx-json-viewer [json]="myAPI.payload" [expanded]="true" [depth]="3"></ngx-json-viewer>
		
		</ion-card-content>
	  </ion-card>			 	
  </ion-content>
  