

<ion-content [fullscreen]="true">

  <ui5-shellbar	primary-title="MrFlexi Summer Sale"secondary-title="UI5" show-notifications notifications-count="22">
	<ui5-avatar slot="profile" icon="customer">
    <img src="../../assets/images/Foto.jpg" alt="Woman 1">
  </ui5-avatar>
	<img slot="logo" src="../../assets/images/logo.png"/>
  <ui5-button icon="nav-back" slot="startButton"></ui5-button>
  <ui5-input slot="searchField" placeholer="Enter service..."></ui5-input>
</ui5-shellbar>

<ui5-combobox placeholder="Contains" filter="Contains">
	<ui5-cb-item text="Austria"></ui5-cb-item>
	<ui5-cb-item text="Bulgaria"></ui5-cb-item>
	<ui5-cb-item text="Germany"></ui5-cb-item>
	<ui5-cb-item text="United Kingdom"></ui5-cb-item>
	<ui5-cb-item text="Kazakhstan"></ui5-cb-item>
</ui5-combobox>
<ui5-table class="demo-table" id="table" mode="MultiSelect" >
	<!-- Columns -->
	<ui5-table-column slot="columns" style="width: 12rem">
		<span style="line-height: 1.4rem">Product</span>
	</ui5-table-column>

	<ui5-table-column slot="columns" min-width="800" popin-text="Supplier">
		<span style="line-height: 1.4rem">Supplier</span>
	</ui5-table-column>

	<ui5-table-column slot="columns" min-width="600" popin-text="Dimensions" demand-popin>
		<span style="line-height: 1.4rem">Dimensions</span>
	</ui5-table-column>

	<ui5-table-column slot="columns" min-width="600" popin-text="Weight" demand-popin>
		<span style="line-height: 1.4rem">Weight</span>
	</ui5-table-column>

	<ui5-table-column slot="columns">
		<span style="line-height: 1.4rem">Price</span>
	</ui5-table-column>

	<ui5-table-row>
		<ui5-table-cell>Notebook Basic 15HT-1000</ui5-table-cell>
		<ui5-table-cell>Very Best Screens</ui5-table-cell>
		<ui5-table-cell>30 x 18 x 3cm</ui5-table-cell>
		<ui5-table-cell>4.2KG</ui5-table-cell>
		<ui5-table-cell>956EUR</ui5-table-cell>
	</ui5-table-row>

	<ui5-table-row>
		<ui5-table-cell>Notebook Basic 17HT-1001</ui5-table-cell>
		<ui5-table-cell>Very Best Screens</ui5-table-cell>
		<ui5-table-cell>29 x 17 x 3.1cm</ui5-table-cell>
		<ui5-table-cell>4.5KG</ui5-table-cell>
		<ui5-table-cell>1249EUR</ui5-table-cell>
	</ui5-table-row>

	<ui5-table-row>
		<ui5-table-cell>Notebook Basic 18HT-1002</ui5-table-cell>
		<ui5-table-cell>Very Best Screens</ui5-table-cell>
		<ui5-table-cell>28 x 19 x 2.5cm</ui5-table-cell>
		<ui5-table-cell>4.2KG</ui5-table-cell>
		<ui5-table-cell>1570EUR</ui5-table-cell>
	</ui5-table-row>
</ui5-table>

<ui5-segmented-button>
  <ui5-segmented-button-item>SalesOrders</ui5-segmented-button-item>
  <ui5-segmented-button-item pressed>PurchaseOrders</ui5-segmented-button-item>
  <ui5-segmented-button-item>All</ui5-segmented-button-item>
</ui5-segmented-button>


<ui5-barcode-scanner-dialog id="dlgScan"></ui5-barcode-scanner-dialog>

<ui5-button id="btnScan" icon="camera" title="Start Camera">Scan</ui5-button>
<ui5-label id="scanResult"></ui5-label>
<ui5-label id="scanError"></ui5-label>

<script>
	btnScan.addEventListener("click", function(event) {
		dlgScan.show();
	});

	dlgScan.addEventListener("scan-success", function(event) {
		scanResult.innerHTML = event.detail.text;
		dlgScan.close();
	});

	dlgScan.addEventListener("scan-error", function(event) {
		scanError.innerHTML = event.detail.message;
		dlgScan.close();
	});
</script>
  
</ion-content>
